<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="me.pxq.eyepetizer.detail">

    <application>
        <activity android:name=".VideoDetailActivity"
            android:theme="@style/Activity.SlideBottomToTop"/>
        <activity android:name=".AlbumDetailActivity"
            android:theme="@style/Activity.SlideBottomToTop"/>
    </application>
</manifest>