<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="me.pxq.eyepetizer.main">

    <application>
        <activity
            android:name=".ui.MainActivity"
            android:theme="@style/Activity.SlideRightIn">

        </activity>
        <activity
            android:name=".ui.SplashActivity"
            android:theme="@style/AppTheme.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>